    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="intro-text">
                      <span class="hello">HELLO</span>
                  </div>
                    <p>I'm Sidimar Gobbo a Brazilian UI/UX designer living in Dublin.</p>
                    <p>With more than 10 years of experience working as a UI/UX Designer. Focused mainly on the User Experience.</p>
                    <p>My goal is to give life and usability to the projects I work with.</p>
                    <p>My daily work is to transform what the final users need regarding concept and visual design. Before starting to create a high visual concept I prototype and test to validate the ideas as a whole.</p>
                    <p>I have graduated in Web Design, and I am currently working as an UX/UI designer in a leading edge School Management Software, in Ireland. If you want to know my works access: <a href="http://be.net/sidimar" target="_blank"><strong>be.net/sidimar</strong></a></p>
                    <p>Some brands that I have worked with: <br> <strong> Johnson & Johnson, Pfizer, Aiko, Motorola, Singer, 3M, Dpaschoal.</strong></p>
                </div>
                <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1 hidden-xs">
                  <img src="img/sid.png" alt="Sidimar Gobbo" class="img-responsive" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center mtop-30">
                    <h4>If you would like to say hello, feel free to contact me.</h4>
                     <ul class="list-inline">
                           <li>
                               <a href="http://be.net/sidimar" class="btn-social btn-outline" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
                           </li>
                            <li>
                                <a href="https://facebook.com/sidimar" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <!-- <li>
                                <a href="https://plus.google.com/+SidimarGobbo" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li> -->
                            <li>
                                <a href="https://twitter.com/sidimar" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/sidimar" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                </div>
            </div>

            <div class="row text-center">
                <a class="btn-outline" href="img/sidimar-gobbo.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
My CV</a>
            </div>
        </div>
    </section>
