    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>I am a Brazilian UI|UX designer, with more than 10 years of experience working as a UI/UX Designer. Focused mainly on the user experience.</p>
                    <p>My goal is to give life and usability to the projects I work with.</p>
                    <p>My daily work is to transform what the final users need regarding concept and visual design. Before starting to create a high visual concept I prototype and test to validate the ideas as a whole.</p>
                </div>
                <div class="col-lg-5">
                    <p>I have graduated in Web Design, and I am currently working as an UX/UI designer in a leading edge School Management Software, in Ireland.</p>
                    <p>Some brands that I have worked with: <br> <strong> Johnson & Johnson, Pfizer, Aiko, Motorola, Singer, 3M, Dpaschoal.</strong></p>
                </div>
            </div>
        </div>
    </section>