    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>UX / UI Design</h3>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">

            {% for post in page.categories.case %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/tb/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>UI Design</h3>
                    <hr class="primary">
                </div>
            </div>           
            <div class="row">
            {% for post in site.categories.design %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/tb/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Brand</h3>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
            {% for post in site.categories[brand] %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/tb/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>            
        </div>
    </section>
