<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2528883-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2528883-2');
    </script>

  </body>

</html>
